.uni-form-button {
  display: flex;
  padding: 30rpx 0;
  background: #fff;

  button {
    flex: 1;
    margin: 0 60rpx;
    font-size: $font_h4;
    border-radius: 80rpx;
    border: 0px !important;
    height: 80rpx;
    line-height: 80rpx;
  }
}

.form-number-box-wrap {
  .form-number-box-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1rpx solid #ebebeb;
    font-size: $font_h2;
    &:first-child {
      border-bottom: 0;
    }
    > view {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex: 1;
    }
  }
  .uni-number-box-wrap {
    flex: initial !important;
    width: 180rpx;
    display: flex;
    align-items: center;
  }

  .form-number-box-desc {
    padding: 20rpx;
    font-size: $font_h5;
    color: rgba($color: #000000, $alpha: 0.6);
    text-overflow: initial;
    white-space: pre-wrap;
    line-height: 1.2em;
    border: 1rpx solid #ebebeb;
    border-radius: 0 0 20rpx 20rpx;
  }
}

.uni-form {
  padding: 0 30rpx;
  margin-bottom: 10rpx;
  background-color: #fff;

  .uni-input-placeholder,
  .uni-textarea-placeholder,
  .custom-placeholder {
    color: rgba($color: #000000, $alpha: 0.4);
  }

  input,
  textarea {
    &::-webkit-input-placeholder,
    &::-webkit-textarea-placeholder {
      color: rgba($color: #000000, $alpha: 0.4);
    }
  }

  .uni-form-add-item {
    color: rgba($color: #000000, $alpha: 0.6);
    height: 80rpx;
    line-height: 80rpx;
    font-size: $font_h4;
    &:before {
      font-family: 'iconfont' !important;
      font-size: $font_h4;
      font-style: normal;
      content: '\e777';
      margin-right: 10rpx;
      color: $color_1;
    }
  }

  .uni-list-ul {
    padding: 0;
  }

  &.mb0 {
    margin-bottom: 0;
  }

  &.mt10 {
    margin-top: 10rpx;
  }

  .uni-form-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100rpx;
    line-height: 100rpx;
    overflow: auto;

    &.uni-form-item-timer {
      flex-flow: row;
      height: auto;
      text-align: left;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      position: absolute;
      right: 0;
      z-index: 10;
      height: 1px;
      content: '';
      transform: scaleY(0.5);
      background-color: #c8c7cc;
      left: 0;
      bottom: 0;
    }

    

    .title {
      position: relative;
      font-size: $font_h2;
      padding: 0 30rpx;
      width: 150rpx;
      color: rgba($color: #000000, $alpha: 0.6);

      &.require {
        &:before {
          position: absolute;
          left: 15rpx;
          top: 0;
          content: '*';
          color: #ff322b;
          font-size: $font_h5;
        }
      }
    }

    .item {
      flex: 1;
      font-size: $font_h2;
      padding: 0 30rpx;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 100%;
      display: flex;
      align-items: center;
      &.current{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      input,
      textarea {
        font-size: $font_h2;
      }

      .item-right {
        position: absolute;
        right: 30rpx;
        top: 0;
        line-height: initial;
      }
    }

    .item-desc {
      text-overflow: initial;
      white-space: pre-wrap;
      line-height: 1.2em;
    }
  }

  .uni-form-item-textarea {
    flex-direction: column;
    height: initial;
    align-items: initial;

    .item {
      padding-bottom: 30rpx;
    }

    .title {
      width: 100% !important;
      box-sizing: border-box;
    }

    .uni-textarea {
      width: 100%;
      background: #f1f1f1;
      padding: 30rpx;
      border-radius: 20rpx;
      box-sizing: border-box;
      line-height: 1.2em;
      text-overflow: initial;
      white-space: pre-wrap;
      touch-action: auto;
    }
  }

  .uni-form-item-image {
    flex-direction: column;
    height: initial;
    align-items: initial;

    .item {
      padding-bottom: 30rpx;
    }

    .title {
      width: 100% !important;
      box-sizing: border-box;
    }
  }

  .uni-form-item-image-preview {
    flex-direction: column;
    align-items: initial;
    height: initial;

    .title {
      width: 100% !important;
      box-sizing: border-box;
    }

    image {
      border-radius: 20rpx;
    }
  }

  .uni-form-item-radio {
    .item {
      view {
        float: left;

        text,
        radio {
          float: left;
        }

        label {
          float: left;
          margin-right: 20rpx;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .right-arrow {
    display: block;
  }
  picker{
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // padding-right: 22rpx;
    height: 100%;
    display: block;
    width: 100%;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      font-family: 'iconfont' !important;
      font-size: 36rpx;
      font-style: normal;
      content: '\e77a';
      color: #333;
  		// color: red;
    }
  }

  .right-arrow {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    // padding-right: 22rpx;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      font-family: 'iconfont' !important;
      font-size: 36rpx;
      font-style: normal;
      content: '\e77a';
      color: #333;
    }
  }
}
